{% extends 'core/base.html' %}

{% block main %}
  {% comment %} Calendario {% endcomment %}
  <div class="container my-4">
    <h1 class="text-center mb-4">{{ month_name }} {{ year }}</h1>
    
    <div class="d-flex justify-content-between mb-3">
      <a href="?month={{ prev_month }}&year={{ prev_year }}" class="btn btn-primary">&laquo; Anterior</a>
      <a href="?month={{ next_month }}&year={{ next_year }}" class="btn btn-primary">Siguiente &raquo;</a>
    </div>

    <div class="row text-center fw-bold">
      <div class="col">Lunes</div>
      <div class="col">Martes</div>
      <div class="col">Miércoles</div>
      <div class="col">Jueves</div>
      <div class="col">Viernes</div>
      <div class="col">Sábado</div>
      <div class="col">Domingo</div>
    </div>

    {% for week in days %}
    <div class="row">
      {% for day in week %}
      <div class="col calendar-day {% if day == 0 %}empty{% endif %}">
        {% if day != 0 %}
          {% if day == 4 %}
            <button type="button" class="btn btn-success w-100 h-100" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Evento
            </button>
        {% endif %}
       
        <span>{{ day }}</span>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>

  {% comment %} Modal {% endcomment %}
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %} 